body {
    background-color: grey;
}

#container {
    width: 50px;
    margin: auto;
    background-color: lightgrey;
}

.square {
    width: 50px;
    height: 50px;
    border: black solid 1px;
    margin-bottom: 10px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 2s ease-in-out;
}

.square:hover {
    background-color: pink;
}

#container:hover .square:nth-child(odd) {
    transform: scale(1.5, 1.5) translate(280px) rotate(360deg);
}

#container:hover .square:nth-child(even) {
    transform: scale(0.5, 0.5) translate(-280px) rotate(-360deg);
}