body {
  padding: 0px;
  margin: 0px;
  width: 840px;
  margin: 0 auto;
}

main {
  height: 400px;
  width: 840px;
  background-image: url("cosmos.jpg");
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

img {
  height: 400px;
}

h1 {
  color: white;
  margin: auto;
  text-align: center;
}

h2 {
  text-align: center;
}

section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: lightgray;
  margin-top: 20px;
}

.article {
  width: 270px;
  height: 324px;
}

li {
  list-style-type: none;
}

input {
  width: 240px;
}

button {
  width: 80px;
  height: 30px;
  margin-top: 10px;
}
