body {
  line-height: 1;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  border-color: grey;
  border-width: 0.5px;
  border-style: solid;
  height: 180px;
  background-color: cadetblue;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

header > img {
  margin-top: 30px;
  margin-left: 30%;
}

nav {
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: space-around;
  grid-column: 3/5;
}

li {
  display: inline-block;
  margin: 40px;
  height: 45px;
  width: 100px;
  background-color: darkslategrey;
  color: white;
  margin: auto;
  padding: 0 15px;
}

a {
  /* height: 25px;
  width: 50px; */
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.container {
  width: 70%;
  margin: auto;
}

main {
  border-color: green;
  border-width: 1px;
  border-style: solid;
  margin: auto;
  margin-top: 120px;
  grid-column: 1/5;
}

.hairstyles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  margin-top: 40px;
}

.hairstyles > img {
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

.hairstyle1 {
  grid-column: 1/2;
}

.hairstyle2 {
  grid-column: 2/3;
}

.hairstyle3 {
  grid-column: 3/4;
}

.hairstyle4 {
  grid-column: 4/5;
}
