body {
  background-color:rgba(0, 0, 0, 0.3);
  margin:0;
  padding:0;
  margin-top:10px;
}

/* 
================
Top of Page Header
==================== */



.logo {
  width: 150px;
  height: 150px;
  margin: 3% 10%;
}

header {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
  background-color: rgb(27, 53, 27);
}

a {
  text-align: center;
  vertical-align: middle;
  color: white;
}

.has-border {
  border-radius: 15px;
  border: 2px solid #0795c3;
  background: none;
  padding: 20px;
  /* height: 60px; */
  margin: auto;
  vertical-align: middle;
}

nav {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
}



/* 
==============
Main Blog Area
=================== */


.blog-container main {
  width: 70%;
  margin: auto;
  margin-top:20px;
}


.titles {
  padding: 1px;
  width: 95%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.titles > h1 {
  margin: auto;
  margin-top:10px;
  width: 60%;
}

.titles p {
  padding: 1px;
  margin: auto;
  margin-top:10px;
  width: 60%;
}

article {
  background-color: white;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 100%;
  margin: 1% auto;
  padding: 5px;
}

article:hover {
  background: grey;
}

article:hover > h3 {
  color: blue;
}

section:hover > h2 {
  color: blue;
}

.class {
  size: 50%;
}

.blog-bottom footer {
  background-color: rgb(199, 183, 143);
  height: 200px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  /* margin-top: 50px; */
}




/* ============================
Media Queries - Justin Essler 
=============================== */


/* Extra Large and below (Wide Screen Desktops) */
@media (max-width: 1200px) {
}

/* Large and below (Desktops) */
@media (max-width: 992px) {
  h1 {
    color: greenyellow;
  }

}

/* Medium and below (Tablets) */
@media (max-width: 768px) {
  nav {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: auto;
    margin-right: 20%;
  }

  .has-border {
    height: 40px;
    width: 90px;
    padding: 1px;
    margin: auto;
    margin: 5px;
  }

  .first {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  h1 {
    color: red;
  }
}

/* Small and below (Landscape Phones) */
@media (max-width: 576px) {
  h1 {
    color: white;
  }

  nav {
    margin-right: 10%;
  }


}
